@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --blue : #0D6EFD;
    --dark-blue : #095bd6;
    --light-blue : #8cbaff;
    --light-grey : #F8F9FA;
    --grey : #E9ECEF;
    --dark-grey: #cfcfcf;

    --fs-xs : 0.90rem;
    --fs-sm : 1rem;
    --fs-md : 1.5rem;
    --fs-lg : 2rem;

    --fw-light : 300;
    --fw-regular : 400;
    --fw-bold : 600;

    --bd-thin : 1px;
    --bd-medium: 2px;
    --bd-thick: 3px;

    --bd-light: #F8F9FA;
    --bd-grey: #E9ECEF;
    --bd-dark-grey: #cfcfcf;
    --bd-dark: black;
    --bd-blue: #0D6EFD;
    --bd-light-blue: #8cbaff;
    
    --bx-shadow : 1px 2px 18px -7px rgba(0,0,0,0.25);

    --p-10 : 10px;
    --p-15 : 15px;
    --p-20 : 20px;
    --p-25 : 25px;

    --m-10 : 10px;
    --m-15 : 15px;
    --m-20 : 20px;
    --m-25 : 25px;

    --w-100 : 100%;
    --w-85 : 84%;
    --w-75 : 75%;
    --w-50 : 50%;
    --w-25 : 25%;
    --w-10: 10%;

    --td-200 : 150ms;
}

a {
    text-decoration: none;
    color: var(--bd-blue);
}

.wrapper {
    width: var(--w-85);
    margin: 0 auto;
}

nav {
    background-color: var(--light-grey);
}

nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--p-10) 0;
}

nav .left--part {
    display: flex;
    gap: 35px;
    align-items: center;
}

nav .right--part input {
    padding: var(--p-10) var(--p-20) var(--p-10) var(--p-10);
    outline: none;
    border: var(--bd-thin) solid var(--dark-grey);
    border-radius: 8px;
    font-size: var(--fs-xs);
}

nav img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul .name{
    position: relative;
}

.nav--options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 160px;
    background-color: white;
    gap: 0;
    border: 1px solid var(--bd-dark-grey);
    border-radius: 7px;
    z-index: 1;
}

.nav--options li {
    padding: 15px;
}

.nav--options li:not(:last-child) {
    border-bottom: 1px solid var(--bd-dark-grey);
}

.post--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post--textarea {
    position: relative;
}

.post--textarea label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--p-15) var(--p-15);
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: var(--td-200) ease-in-out;
}

.post--textarea textarea {
    width: 100%;
    outline: none;
    padding: var(--p-25) var(--p-15);
    border-radius: 6px;
    resize: none;
    font-size: var(--fs-sm);
    border: 1px solid rgb(209, 209, 209);
    transition: var(--td-200) ease-in-out;
}

.post--textarea textarea:focus {
    transition: var(--td-200) ease-in-out;
    border: var(--bd-thin) solid var(--bd-light-blue);
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.post--textarea textarea:focus ~ label {
    transition: var(--td-200) ease-in-out;
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.post--file input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #E9ECEF;
    padding: 18px 15px;
    line-height: 0;
    color: black;
    cursor: pointer;
    border-radius: 6px 0px 0px 6px;
    font-size: var(--fs-xs);
    transition: var(--td-200) ease-in-out;
  }
  
.post--file input::file-selector-button:hover {
    background: var(--dark-grey);
    transition: var(--td-200) ease-in-out;
}

.post--file input{
    cursor: pointer;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 6px;
    font-size: var(--fs-xs);
}

.post--file input:focus {
    transition: var(--td-200) ease-in-out;
    border: var(--bd-thin) solid var(--bd-light-blue);
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.comment--input input {
    width: 100%;
    height: 55px;
    border: var(--bd-thin) solid var(--bd-dark-grey);
    border-radius: 6px;
    font-size: var(--fs-xs);
    padding: 0 var(--p-10);
    outline: none;
    transition: var(--td-200) ease-in-out;
}

.comment--input input:focus {
    transition: var(--td-200) ease-in-out;
    border: var(--bd-thin) solid var(--bd-light-blue);
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.post--form button {
    border-radius: 7px;
    border: 0;
    background-color: var(--blue);
    height: 40px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--td-200) ease-in-out;
}

.post--form button:hover {
    background-color: var(--dark-blue);
}

.ph-paper-plane-tilt {
    font-size: 18px;
}

.post--form {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-block: 20px 40px;
}

.sidebar img {
    width: 120px;
}

.sidebar {
    display: none;
    background-color: var(--grey);
    position: absolute;
    width: 100%;
    top: 0;
    padding: 30px 25px;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar input {
    padding: 7px;
    width: 100%;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
}

.icon i {
    font-size: 30px;
}

.icon {
    display: none;
}

.sidebar .close--icon {
    font-size: 30px;
}

.sidebar .sidebar--header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar ul .sidenav--options {
    margin-left: 20px;
    display: none;
}

.explore {
    display: flex;
    align-items: center;
    gap: 10px;
}

.explore i {
    font-size: 20px;
    transform: rotate(0deg);
}

.post--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .post--image {
    height: 600px; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 10px solid white;
    box-shadow: var(--bx-shadow);
    margin-bottom: 40px;
}

.post--insight {
    display: flex;
    gap: 20px;
}

.post--insight .total--likes,
.post--insight .total--comments {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first--header--part {
    display: flex;
    align-items: center;
    gap: 20px;
}

.first--header--part img,
.comment--user img{
    width: 60px;
    border-radius: 50px;
    border: 5px solid white;
    box-shadow: var(--bx-shadow);
}

.comment--input textarea{
    padding: 10px 10px;
    outline: none;
    width: 100%;
    resize: none;
    height: 50px;
    border-radius: 5px;
    border: var(--bd-thin) solid var(--bd-dark-grey);
}

.comment {
    display: flex;
    gap: 30px;
}

.user--name {
    font-weight: var(--fw-bold);
}

/* profile */

.right--profile--part {
    width: 70%;
}

.left--profile--part {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.user--friends,
.user--bio {
    font-weight: var(--fw-bold);
}

.left--profile--part .profile--cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    box-shadow: var(--bx-shadow);
    padding: var(--p-20) var(--p-20);
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: var(--bx-shadow);
    padding: var(--p-20) var(--p-20);
}

.cart--img img{
    width: 150px;
    height: 150px;
}

.friends--cart-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile--cart hr {
    opacity: .5;
    width: 80%;
}

.profile--infos {
    display: flex;
    gap: 25px;
    padding: 0px 30px;
}

.profile--cover {
    width: 100%;
    height: 400px;
    margin-bottom: 115px;
}

.user--banner {
    width:  200px;
    height: 200px;
    border: 10px solid white;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 350px;
    left: 150px;
}

.pfp--change input[type="file"],
.cover--change input[type="file"] {
    display: none;
}

.pfp--change {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 300px;
    top: 490px;
}

.pfp--change i {
    color: rgb(255, 255, 255);
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cover--change i {
    font-size: 20px;
    margin-top: 2px;
}

.cover--change {
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 5px 12px;
    right: 70px;
    top: 400px;
    transform-origin: 0 0;
}

.cover--change p{
    margin-right: 10px;
    font-weight: 600;
}

.cover--change input[type="file"] {
    display: none;
}

.cover--change {
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    border-radius: 5px;
    border: none;
    padding: 5px 12px;
    right: 70px;
    top: 400px;
}

.cover--change p{
    margin-right: 10px;
    font-weight: 600;
}

@media only screen and (max-width: 970px) {
    .profile--infos {
        flex-direction: column;
    }

    .left--profile--part,
    .right--profile--part {
        width: 100%;
    }

    .cover--change {
        transform: translateY(-20rem);
    }
}

@media only screen and (max-width: 700px) {
    .icon {
        display: flex;
    }

    nav .left--part ul,
    nav .right--part {
        display: none;
    }
}